WebApplication2/WebApplication1/Web/Web References/com.frisocrm.sms/SendSMSService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendSMSSingle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="uid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="templateId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contens" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSSingleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMSSingleResult" type="tns:ReturnStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReturnStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusMsg" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSMSSingleSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMSSingle" />
  </wsdl:message>
  <wsdl:message name="SendSMSSingleSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSSingleResponse" />
  </wsdl:message>
  <wsdl:portType name="SendSMSService2Soap">
    <wsdl:operation name="SendSMSSingle">
      <wsdl:input message="tns:SendSMSSingleSoapIn" />
      <wsdl:output message="tns:SendSMSSingleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendSMSService2Soap" type="tns:SendSMSService2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMSSingle">
      <soap:operation soapAction="http://tempuri.org/SendSMSSingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendSMSService2Soap12" type="tns:SendSMSService2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMSSingle">
      <soap12:operation soapAction="http://tempuri.org/SendSMSSingle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendSMSService2">
    <wsdl:port name="SendSMSService2Soap" binding="tns:SendSMSService2Soap">
      <soap:address location="http://sms.frisocrm.com/Api/WebService/SendSMSService2.asmx" />
    </wsdl:port>
    <wsdl:port name="SendSMSService2Soap12" binding="tns:SendSMSService2Soap12">
      <soap12:address location="http://sms.frisocrm.com/Api/WebService/SendSMSService2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>