Wcf/Test/Service References/WCFUserService/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://samplelife:8082/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://samplelife:8082/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://samplelife:8082/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="RequestMessageUser">
    <wsdl:part name="parameters" element="tns:RequestMessageUser" />
  </wsdl:message>
  <wsdl:message name="ResponseMessageUser">
    <wsdl:part name="parameters" element="tns:ResponseMessageUser" />
  </wsdl:message>
  <wsdl:message name="ResponseMessageUser_Headers">
    <wsdl:part name="Index" element="tns:Index" />
  </wsdl:message>
  <wsdl:message name="IUserService_Div_InputMessage">
    <wsdl:part name="parameters" element="tns:Div" />
  </wsdl:message>
  <wsdl:message name="IUserService_Div_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Div_CalculatorErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WCFModel" name="detail" element="q1:CalculatorError" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddUser" message="tns:IUserService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddUserResponse" message="tns:IUserService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUser" name="RequestMessageUser" message="tns:RequestMessageUser" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserResponse" name="ResponseMessageUser" message="tns:ResponseMessageUser" />
    </wsdl:operation>
    <wsdl:operation name="Div">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Div" message="tns:IUserService_Div_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DivResponse" message="tns:IUserService_Div_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/DivCalculatorErrorFault" name="CalculatorErrorFault" message="tns:IUserService_Div_CalculatorErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUser" style="document" />
      <wsdl:input name="RequestMessageUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ResponseMessageUser">
        <soap:header message="tns:ResponseMessageUser_Headers" part="Index" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Div">
      <soap:operation soapAction="http://tempuri.org/IUserService/Div" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CalculatorErrorFault">
        <soap:fault use="literal" name="CalculatorErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://samplelife:8082/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>